.mdl-data-table {
    width: 100%;
    border-collapse: collapse;
    border: #837E7E 1px solid;
}

.mdl-data-table td {
    padding: 7px;
}

.mdl-data-table th {
    background-color: #2F303E;
    font-size: 130%;
    color: white;
}

.mdl-data-table tbody tr {
    background-color: #212121;
    color: #d6e9a6;
}

.mdl-data-table tbody tr:hover {
    background-color: #484949;
}
